body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-color: black;
  background-image: url("bg.jpg");
}

.about{
  height: 33%;
  width: 33%;
  padding: 1%;
  border: solid #ffffff;
  border-width: 1px 1px;
  border-radius: 5px;
  background-color: black;
  opacity: 0.75;
}

h1{
  color: white;
}

a {
  color: white;
}

ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

li a {
  display: block;
  border: 1px;
  border-style: solid;
  border-color: black;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  border-color: white;
}

table{
  border-radius: 5px;
  background-color: black;
  opacity: 0.75;
  border-collapse: collapse;
}
td {
  border: solid #ffffff;
  border-width: 1px 1px;
}

th, td {
  padding: 1px;
  text-align: center;
  padding: 5px;
}

canvas {

  background: blue;
  color: white;
  display: block;
  margin: 0 auto;
}