body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-color: black;
}

h1{
  color: white;
}

a {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

li a {
  display: block;
  border: 1px;
  border-style: solid;
  border-color: black;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  border-color: white;
}

canvas {

  
  width: 480px;
  height: 320px;

  background: blue;
  display: block;
  margin: 0 auto;
}